<% include ./header %>

<h1><%= message %></h1>
<a href="./login">Log In</a>
</br>
<a href="/">Home</a>

<h3>Register:</h3>

<form method='POST' action='/register'>
  <input name='name' type='text' placeholder='name' required />
  <br>
  <input name='password' type='password' placeholder='password' required />
  <br>
  <input type='submit' class='submit' value='Register' />
</form>

<% include ./footer %>
